In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl

In [2]:
# pd.set_option('display.max_columns', None)

In [3]:
path = '/Users/yniyunj/Desktop/교육공공데이터/데이터/'

df1 = pd.read_csv(path + '0004.유초중등학생현황(09-23)(100%).csv', encoding = 'cp949')
df2 = pd.read_excel(path + '2024년 초중고 학교별 학과별 학년별 반별 학생수_240830my.xlsx')
df3 = pd.read_csv(path + '공공데이터포털 내 필수1 활용 데이터 목록.csv', encoding = 'utf-8')
df4 = pd.read_csv(path + '공공데이터활용지원센터_공공데이터포털 목록개방현황_20250228.csv', encoding = 'cp949')
df5 = pd.read_csv(path + '초등학교시간표.csv', encoding = 'utf-8')
df6 = pd.read_csv(path + '학급정보.csv', encoding = 'utf-8')
df7 = pd.read_excel(path + '2024년 유초중등 학교별 학년별 학생수 학급수 입학 졸업 교원 직원 면적_241125h.xlsx')

/var/folders/2k/10fc4g4d33q5h9qc2fn4wk6m0000gn/T/ipykernel_2024/1777598402.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv(path + '공공데이터활용지원센터_공공데이터포털 목록개방현황_20250228.csv', encoding = 'cp949')

In [4]:
df1.head()

,조사년도,개방ID,학교명,학교급명,시도명,학제유형명,도내전입학생수,고등학교과정3학년여학생수,고등학교과정2학년학생수,고등학교과정2학년여학생수,...,주간졸업생여자입학생수,주간졸업생여자입학지원자수,주간졸업생입학지원자수,주간기타입학생수,주간기타여자입학생수,주간기타여자입학지원자수,주간기타입학지원자수,주간재학생입학생수,주간재학생여자입학생수,주간재학생여자입학지원자수
0,2009,1000270366,전주초포초등학교병설유치원,원천코드없음,전북,유치원,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2009,1000279486,서울봉현초등학교,원천코드없음,서울,초등학교,61,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2009,1001306772,인천소방고등학교,원천코드없음,인천,전문계고등학교,11,0,0,0,...,0,0,0,3,0,0,3,474,0,0
3,2009,1001514911,여수구봉초등학교병설유치원,원천코드없음,전남,유치원,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2009,1001970350,산남중학교,원천코드없음,충북,중학교,13,0,0,0,...,0,0,0,0,0,0,0,285,142,142

In [5]:
# 6번째 행을 열 이름으로 설정
df2.columns = df2.iloc[6]

# 1~6번째 행 제거 (인덱스 0~5까지)
df2 = df2[7:].reset_index(drop=True)
df2.head()

6,조사기준일,시도,행정구역,교육(지원)청,학교명,학제 대분류,고등학교 유형,특성화고 구분,학제,학교세부유형,...,학과명,학과 \n주/야간,단식/복식,일반/특수/순회,학년,반,학급수,학생수_계,학생수_남,학생수_여
0,20240401,서울,종로구,서울시,경복고등학교,고등학교,일반고,NaN,일반고등학교,해당없음,...,7차일반,주간,단식,특수,1,01,1,7,7,0
1,20240401,서울,종로구,서울시,경복고등학교,고등학교,일반고,NaN,일반고등학교,해당없음,...,7차일반,주간,단식,일반,1,01,1,19,19,0
2,20240401,서울,종로구,서울시,경복고등학교,고등학교,일반고,NaN,일반고등학교,해당없음,...,7차일반,주간,단식,일반,1,02,1,18,18,0
3,20240401,서울,종로구,서울시,경복고등학교,고등학교,일반고,NaN,일반고등학교,해당없음,...,7차일반,주간,단식,일반,1,03,1,18,18,0
4,20240401,서울,종로구,서울시,경복고등학교,고등학교,일반고,NaN,일반고등학교,해당없음,...,7차일반,주간,단식,일반,1,04,1,18,18,0

In [6]:
df2.columns

Index(['조사기준일', '시도', '행정구역', '교육(지원)청', '학교명', '학제 대분류', '고등학교 유형', '특성화고 구분',
       '학제', '학교세부유형', '본분교', '설립', '남녀학교', '주야간', '학교상태', '지역규모', '학과코드',
       '학과명', '학과 \n주/야간', '단식/복식', '일반/특수/순회', '학년', '반', '학급수', '학생수_계',
       '학생수_남', '학생수_여'],
      dtype='object', name=6)

In [7]:
df2[df2['학제 대분류'] == '초등학교']

6,조사기준일,시도,행정구역,교육(지원)청,학교명,학제 대분류,고등학교 유형,특성화고 구분,학제,학교세부유형,...,학과명,학과 \n주/야간,단식/복식,일반/특수/순회,학년,반,학급수,학생수_계,학생수_남,학생수_여
342,20240401,서울,종로구,중부,서울대학교사범대학부설초등학교,초등학교,NaN,NaN,초등학교,해당없음,...,해당없음,주간,단식,일반,1,01,1,21,11,10
343,20240401,서울,종로구,중부,서울대학교사범대학부설초등학교,초등학교,NaN,NaN,초등학교,해당없음,...,해당없음,주간,단식,일반,1,02,1,20,11,9
344,20240401,서울,종로구,중부,서울대학교사범대학부설초등학교,초등학교,NaN,NaN,초등학교,해당없음,...,해당없음,주간,단식,일반,1,03,1,20,10,10
345,20240401,서울,종로구,중부,서울대학교사범대학부설초등학교,초등학교,NaN,NaN,초등학교,해당없음,...,해당없음,주간,단식,일반,1,04,1,20,9,11
346,20240401,서울,종로구,중부,서울대학교사범대학부설초등학교,초등학교,NaN,NaN,초등학교,해당없음,...,해당없음,주간,단식,일반,1,05,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234764,20240401,제주,서귀포시,서귀포시,한마음초등학교,초등학교,NaN,NaN,초등학교,해당없음,...,해당없음,주간,단식,일반,4,01,1,18,8,10
234765,20240401,제주,서귀포시,서귀포시,한마음초등학교,초등학교,NaN,NaN,초등학교,해당없음,...,해당없음,주간,단식,일반,4,02,1,18,9,9
234766,20240401,제주,서귀포시,서귀포시,한마음초등학교,초등학교,NaN,NaN,초등학교,해당없음,...,해당없음,주간,단식,일반,5,01,1,25,20,5
234767,20240401,제주,서귀포시,서귀포시,한마음초등학교,초등학교,NaN,NaN,초등학교,해당없음,...,해당없음,주간,단식,일반,6,01,1,19,10,9
234768,20240401,제주,서귀포시,서귀포시,한마음초등학교,초등학교,NaN,NaN,초등학교,해당없음,...,해당없음,주간,단식,일반,6,02,1,19,9,10

In [8]:
# 6번째 행을 열 이름으로 설정
df7.columns = df7.iloc[14]

# 1~6번째 행 제거 (인덱스 0~5까지)
df7 = df7[15:].reset_index(drop=True)

In [9]:
df7 = df7.drop(columns=['학제', '교육\n(지원)청', '고등학교\n유형', '학교세부유형', '학교명(영문명)', '설립', '주야','본분교', '남녀공학\n구분',
                        '상태','개교일', '지역규모', '우편번호', '주소', '개교일', '지역규모', '우편번호', '주소', '전화번호', '팩스번호', '홈페이지', '학교수'
                        ])
df7[df7['학교급'] == '초등학교']

14,조사기준일,시도,행정구,학교급,학교명,KEDI학교코드,일반학급_학급수,일반학급_학생수_계,일반학급_학생수_남,일반학급_학생수_여,...,국외_대학_계,국외_대학_남,국외_대학_여,일반\n교실,교과\n교실,특별\n교실,수준별교실,기타\n교실,교지면적,학생\n1인당\n교지면적
430,20240401,서울,동대문구,초등학교,서울군자초등학교,111021101,15,275,142,133,...,0,0,0,23,3,3,0,2,13737,47.9
431,20240401,서울,동대문구,초등학교,서울답십리초등학교,111021102,40,866,422,444,...,0,0,0,46,2,5,0,0,13363,15.3
432,20240401,서울,동대문구,초등학교,서울동답초등학교,111021103,23,466,217,249,...,0,0,0,23,4,4,0,4,6450,13.8
433,20240401,서울,중랑구,초등학교,서울동원초등학교,111021104,19,353,188,165,...,0,0,0,25,0,3,0,5,11966,33.1
434,20240401,서울,중랑구,초등학교,서울망우초등학교,111021105,15,293,152,141,...,0,0,0,18,1,7,13,6,9776,32.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20841,20240401,제주,서귀포시,초등학교,하원초등학교,491321430,6,68,35,33,...,0,0,0,7,0,1,0,1,11384,167.4
20842,20240401,제주,서귀포시,초등학교,효돈초등학교,491321460,11,196,93,103,...,0,0,0,14,0,3,0,0,17907,89.5
20843,20240401,제주,서귀포시,초등학교,흥산초등학교,491321470,6,51,28,23,...,0,0,0,7,0,2,0,0,9113,178.7
20844,20240401,제주,서귀포시,초등학교,동홍초등학교,491321480,44,1110,541,569,...,0,0,0,45,0,3,0,0,19719,17.7
20845,20240401,제주,서귀포시,초등학교,한마음초등학교,491321490,9,182,99,83,...,0,0,0,10,0,2,0,0,17190,94.5

In [11]:
columns_list = df7.columns.tolist()
for col in columns_list:
    print(col)

조사기준일
시도
행정구
학교급
학교명
KEDI학교코드
일반학급_학급수
일반학급_학생수_계
일반학급_학생수_남
일반학급_학생수_여
특수학급_학급수
특수학급_학생수_계
특수학급_학생수_남
특수학급_학생수_여
편성학급수_계
1학년_학급수
2학년_학급수
3학년_학급수
4학년_학급수
5학년_학급수
6학년_학급수
학생수_총계_계
학생수_총계_남
학생수_총계_여
1학년_학생수_계
1학년_학생수_남
1학년_학생수_여
2학년_학생수_계
2학년_학생수_남
2학년_학생수_여
3학년_학생수_계
3학년_학생수_남
3학년_학생수_여
4학년_학생수_계
4학년_학생수_남
4학년_학생수_여
5학년_학생수_계
5학년_학생수_남
5학년_학생수_여
6학년_학생수_계
6학년_학생수_남
6학년_학생수_여
학급당
 학생수
교원수_총계_계
교원수_총계_남
교원수_총계_여
교원수_정규_계
교원수_정규_남
교원수_정규_여
교원수_정규_교장_계
교원수_정규_교장_남
교원수_정규_교장_여
교원수_정규_교감_계
교원수_정규_교감_남
교원수_정규_교감_여
교원수_정규_수석_계
교원수_정규_수석_남
교원수_정규_수석_여
교원수_정규_보직_계
교원수_정규_보직_남
교원수_정규_보직_여
교원수_정규_일반_계
교원수_정규_일반_남
교원수_정규_일반_여
교원수_정규_특수_계
교원수_정규_특수_남
교원수_정규_특수_여
교원수_정규_상담_계
교원수_정규_상담_남
교원수_정규_상담_여
교원수_정규_사서_계
교원수_정규_사서_남
교원수_정규_사서_여
교원수_정규_실기_계
교원수_정규_실기_남
교원수_정규_실기_여
교원수_정규_보건_계
교원수_정규_보건_남
교원수_정규_보건_여
교원수_정규_영양_계
교원수_정규_영양_남
교원수_정규_영양_여
교원수_기간제교원_계
교원수_기간제교원_남
교원수_기간제교원_여
교원1인당 학생수
전체직원_계
전체직원_남
전체직원_여
정규직원_계
정규직원_남
정규 직원_여
전출
전입
입학자_계
입학자_남
입학자_여
졸업자_계
졸업자_남
졸업자_여
진학자_계
진학자_남
진학자_여
진학률
_전체(%)
취업자_계
취업자_남
취업자_여
입대자_계
입대자_남
기타_계
기타_남
기타_여
국내_전문대학_계
국내_전문대학_남
국내_전문대학_여
국내_대학_계
국내_대학_남
국내_대학_여
국외_전문대학_계
국외_전문대학_남
국외_전문대학_여
국외_대학_계
국외_대학_남
국외_대학_여
일반
교실
교과
교실
특별
교실
수준별교실
기타
교실
교지면적
학생
1인당
교지면적

In [17]:
df7[['행정구', '학교급', '학교명', '전입', '전출', '입학자_계', '입학자_남', '입학자_여', '졸업자_계', '졸업자_남', '졸업자_여', '진학자_계', '진학자_남', '진학자_여']]

14,행정구,학교급,학교명,전입,전출,입학자_계,입학자_남,입학자_여,졸업자_계,졸업자_남,졸업자_여,진학자_계,진학자_남,진학자_여
0,성북구,고등학교,서울대학교사범대학부설고등학교,2,7,246,108,138,224,116,108,165,77,88
1,송파구,고등학교,가락고등학교,24,10,243,130,113,247,95,152,157,56,101
2,강남구,고등학교,개포고등학교,28,23,226,111,115,209,102,107,119,59,60
3,강남구,고등학교,경기고등학교,27,22,350,350,0,326,326,0,88,88,0
4,성북구,고등학교,경동고등학교,13,18,172,172,0,169,169,0,129,129,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20856,서귀포시,중학교,위미중학교,5,4,32,16,16,39,21,18,39,21,18
20857,서귀포시,중학교,중문중학교,17,23,166,87,79,158,87,71,158,87,71
20858,서귀포시,중학교,표선중학교,28,18,178,95,83,121,73,48,119,72,47
20859,서귀포시,중학교,효돈중학교,1,4,57,30,27,37,18,19,36,18,18
20860,서귀포시,중학교,남주중학교,6,9,118,118,0,115,115,0,115,115,0

In [12]:
df3 = pd.read_csv(path + '공공데이터포털 내 필수1 활용 데이터 목록.csv', encoding = 'utf-8')
df3.head()

,Unnamed: 0,목록키,목록명,목록설명,조회수,분류체계,기관코드,기관명,국가중점여부,목록 수정일,목록 URL,다운로드_활용신청건수,키워드,데이터 확장자,관리 부서명
0,22344,15085437,한국연구재단_정책연구용역보고서,2017~2024년의 한국연구재단 외부에서 정책연구했던 내역을 알수 있습니다. 자...,1796,과학기술 - 과학기술연구,B552540,한국연구재단,N,2024-08-19,https://www.data.go.kr/data/15085437/fileData.do,427.0,"정책,연구,연구용역",csv,정보기획팀
1,16150,15134996,한국연구재단_4단계 BK21 연도별 사업기간 및 사업접수 현황,한국연구재단에서 운영하는 4단계 BK21 종합정보관리시스템 내 4단계 BK21 연도...,97,과학기술 - 과학기술연구,B552540,한국연구재단,N,2024-09-06,https://www.data.go.kr/data/15134996/fileData.do,16.0,"두뇌한국 21 사업기간 및 접수,석박사급 연구인력 양성,대학원 교육 내실화 및 연구...",csv,정보기획팀
2,16171,15134987,한국연구재단_4단계 BK21 대학원혁신 및 제도개선 평가패널 정보,한국연구재단에서 운영하는 4단계 BK21 종합정보관리시스템 내 대학원혁신 및 제도개...,107,과학기술 - 과학기술연구,B552540,한국연구재단,N,2024-09-06,https://www.data.go.kr/data/15134987/fileData.do,21.0,"두뇌한국 21 대학원 제도 개선 평가,석박사급 연구인력 양성,대학원 교육 내실화 및...",csv,정보기획팀
3,16170,15134986,한국연구재단_BK21 제도혁신 연도별 참여 기관 및 사업단 정보,한국연구재단에서 운영하는 4단계 BK21 종합정보관리시스템 내 제도혁신 사업의 연도...,50,과학기술 - 과학기술연구,B552540,한국연구재단,N,2024-09-06,https://www.data.go.kr/data/15134986/fileData.do,16.0,"두뇌한국 21 제도혁신 참여 기관,석박사급 연구인력 양성,대학원 교육 내실화 및 연...",csv,정보기획팀
4,16169,15134985,한국연구재단_2단계 BK21 사업 참여기관 정보,한국연구재단에서 운영하는 4단계 BK21 종합정보관리시스템 내 2단계 BK21 사업...,86,과학기술 - 과학기술연구,B552540,한국연구재단,N,2024-09-06,https://www.data.go.kr/data/15134985/fileData.do,19.0,"두뇌한국 21 사업 참여 기관,석박사급 연구인력 양성,대학원 교육 내실화 및 연구 ...",csv,정보기획팀

In [13]:
df4 = pd.read_csv(path + '공공데이터활용지원센터_공공데이터포털 목록개방현황_20250228.csv', encoding = 'cp949')
df4.head()

/var/folders/2k/10fc4g4d33q5h9qc2fn4wk6m0000gn/T/ipykernel_2024/154484556.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv(path + '공공데이터활용지원센터_공공데이터포털 목록개방현황_20250228.csv', encoding = 'cp949')

,목록키,목록유형,목록명,목록설명,조회수,분류체계,기관코드,기관명,국가중점여부,표준데이터여부,목록 등록일,목록 수정일,목록 URL,다운로드_활용신청건수,키워드,데이터 확장자,관리 부서명
0,15142167,FILE,해양경찰청_제주특별자치도 낚시어선 및 이용객 현황,제주특별자치도 낚시현황 데이터입니다.<br/>최근 3년 간(2022년~2024년) ...,1237,공공질서및안전 - 해경,1532000,해양경찰청,N,N,2025-02-27,2025-02-28,https://www.data.go.kr/data/15142167/fileData.do,9,"제주특별자치도,낚시어선,현황",xlsx,해양안전과
1,15140405,FILE,서울특별시 동작구_주택임대관리업,"이 데이터는 주택임대관리업 정보입니다. 주택임대관리법인명, 대표자, 사무실 소재지,...",115,일반공공행정 - 일반행정,3190000,서울특별시 동작구,N,N,2025-01-02,2025-02-28,https://www.data.go.kr/data/15140405/fileData.do,15,"주택,임대,관리",csv,기획조정과
2,15130651,FILE,한국사회복지협의회_사회복지포털 복지넷 구인정보 통계,사회복지포털 복지넷을 통해 등록한 구인등록 정보의 연간 통계 데이터로 시설 분류별 ...,216,사회복지 - 고용노동,B460014,한국사회복지협의회,N,N,2024-07-30,2025-02-28,https://www.data.go.kr/data/15130651/fileData.do,222,"사회복지,구인정보,복지넷",csv,경영지원실
3,15129447,STD,전국그늘막쉼터표준데이터,"공공데이터 제공 표준데이터 속성정보(허용값, 표현형식/단위 등)는 [공공데이터 제공...",5333,공공질서및안전 - 안전관리,AAAAAAA,공공데이터활용지원센터,N,Y,2024-07-03,2025-02-28,https://www.data.go.kr/data/15129447/standard.do,218,"그늘막,그늘막쉼터,그늘",-,-
4,15126872,FILE,경상북도 김천시_음식물폐기물_월별발생현황,"김천시 음식물폐기물 월별발생현황에 관한 데이터로 월별 가정 단독주택, 가정 공동주택...",249,환경 - 폐기물,5060000,경상북도 김천시,N,N,2024-02-26,2025-02-28,https://www.data.go.kr/data/15126872/fileData.do,38,"음식물,월별,현황",csv,자원순환과

In [14]:
df5 = pd.read_csv(path + '초등학교시간표.csv', encoding = 'utf-8')
df5

,시도교육청코드,시도교육청명,행정표준코드,학교명,학년도,학기,시간표일자,학년,학급명,교시,수업내용,수정일자
0,B10,서울특별시교육청,7132108,서울신상도초등학교,2023,1,20230306,1,2,1,국어,20230312
1,B10,서울특별시교육청,7132108,서울신상도초등학교,2023,1,20230306,1,2,2,수학,20230312
2,B10,서울특별시교육청,7132108,서울신상도초등학교,2023,1,20230306,1,2,3,즐거운생활,20230312
3,B10,서울특별시교육청,7132108,서울신상도초등학교,2023,1,20230306,1,2,4,바른생활,20230312
4,B10,서울특별시교육청,7132108,서울신상도초등학교,2023,1,20230306,1,5,1,자율활동,20230312
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,B10,서울특별시교육청,7132108,서울신상도초등학교,2023,1,20230425,5,9,5,수학,20230430
9996,B10,서울특별시교육청,7132108,서울신상도초등학교,2023,1,20230425,5,9,6,도덕,20230430
9997,B10,서울특별시교육청,7132108,서울신상도초등학교,2023,1,20230425,6,1,1,국어,20230430
9998,B10,서울특별시교육청,7132108,서울신상도초등학교,2023,1,20230425,6,1,2,음악,20230430
9999,B10,서울특별시교육청,7132108,서울신상도초등학교,2023,1,20230425,6,1,3,영어,20230430

In [15]:
df6 = pd.read_csv(path + '학급정보.csv', encoding = 'utf-8')
df6

,시도교육청코드,시도교육청명,행정표준코드,학교명,학년도,학년,주야과정명,학교과정명,계열명,학과명,학급명,수정일자
0,B10,서울특별시교육청,7132108,서울신상도초등학교,2024,1,NaN,초등학교,NaN,NaN,1,20250401
1,B10,서울특별시교육청,7132108,서울신상도초등학교,2024,1,NaN,초등학교,NaN,NaN,2,20250401
2,B10,서울특별시교육청,7132108,서울신상도초등학교,2024,1,NaN,초등학교,NaN,NaN,3,20250401
3,B10,서울특별시교육청,7132108,서울신상도초등학교,2024,1,NaN,초등학교,NaN,NaN,4,20250401
4,B10,서울특별시교육청,7132108,서울신상도초등학교,2024,1,NaN,초등학교,NaN,NaN,5,20250401
...,...,...,...,...,...,...,...,...,...,...,...,...
106,B10,서울특별시교육청,7132108,서울신상도초등학교,2025,6,NaN,초등학교,NaN,NaN,5,20250401
107,B10,서울특별시교육청,7132108,서울신상도초등학교,2025,6,NaN,초등학교,NaN,NaN,6,20250401
108,B10,서울특별시교육청,7132108,서울신상도초등학교,2025,6,NaN,초등학교,NaN,NaN,7,20250401
109,B10,서울특별시교육청,7132108,서울신상도초등학교,2025,6,NaN,초등학교,NaN,NaN,8,20250401
110,B10,서울특별시교육청,7132108,서울신상도초등학교,2025,6,NaN,초등학교,NaN,NaN,9,20250401